################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pmv-ads-2024-1-e4-proj-dad-t3-mei/FileContentIndex/42358ef3-3940-4406-95b2-00c031550c69.vsidx
