@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primeicons/primeicons.css";

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
a:active {
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0px 10px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}
.active {
  font-weight: bold;
}
.hide {
  display: none;
}
.btn,
button,
input[type="submit"],
input[type="button"] {
  background-color: #470459;
  color: #f5e0f8;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
input[type="submit"],
input[type="button"] {
  max-width: 120px;
}

input:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  color: #f5e0f8;
}
button:hover:enabled,
input[type="submit"]:hover:enabled,
input[type="button"]:hover:enabled {
  opacity: 1;
}
.erro-msg {
  display: block;
  max-width: max-content;
  padding: 0 10px;
  color: #e21;
  background-color: rgba(238, 35, 17, 0.329);
}
label {
  display: block;
}
