.FlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ChartContainer {
  position: relative;
  height: 40vh;
  width: 80%;
}

@media (max-width: 600px) {
  .FlexContainer {
    flex-direction: column;
  }

  .ChartContainer {
    width: 100%;
    height: 50vh;
  }
}