.logo-login {
  max-width: 100px;
}

.btn-faleconosco {
  background-color: #8538a6;
  color: #fff;
  border-radius: 15px;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
}
.btn-faleconosco:hover {
  background-color: #470459;
  color: #fff;
}
.a-esqueci {
  color: #470459;
}
