#root {
  background-color: #f2f2f2;
}
.btn-entrar,
.btn-cadastrar {
  background-color: #8538a6;
  width: 150px;
  border: none;
}

.btn-entrar:hover,
.btn-cadastrar:hover {
  background-color: #470459;
}

.store-logo {
  width: 150px;
}

.sobre {
  padding: 20px;
  border-radius: 10px;
  margin-left: 23%;
}

.funcionalidades-bg {
  background-color: #ffffff;
  height: 300px;
  border-radius: 15px;
}
.dinheiro,
.pcCel,
.grafico {
  max-width: 80px;
}
.whatsapp,
.email {
  max-width: 40px;
}
