.form-width {
  max-width: 300px;
}
.logo {
  width: 400px;
}
.bg-left {
  background-color: #f2cb57;
  border-radius: 15px;
}

.box {
  margin: 200px auto;
}
.form-control {
  border-radius: 15px;
}
.btn-criar {
  background-color: #470459;
  color: #f2cb57;
  border-radius: 15px;
}
.btn-criar:hover {
  background-color: #8538a6;
  color: #f2cb57;
}
.a-registrar {
  text-decoration: none;
  color: #f2cb57;
}
