.bg-nav {
  background-color: #ffdc72;
}
#nav {
  display: flex;
  justify-content: space-between;
}
.logomarca {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}
#nav-links {
  display: flex;
  flex-wrap: wrap;
}
#nav-links a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.125rem;
}
