.bg-navbar {
  background-color: #f2cb57;
  border: 3px solid #470459;
}

.color-navbar a {
  color: #470459;
  font-size: 1.125em;
  font-weight: 400;
}

.nav-logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #470459;
}
.span-entrar {
  background-color: #470459;
  padding: 15px 30px;
  border-radius: 30px;
  color: #f2cb57;
}
.span-entrar:hover {
  background-color: #8538a6;
}
